<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <div class="container">
        <div class="pt-5 mt-5">
            <div class="container-1">
                <h2 class="text-center text-light">Make Order</h2>
                <hr class="style13 w-100">
                <div class="d-flex justify-content-center align-content-center container">
                    <form class="mx-auto" th:action="@{/orders/make-order}" th:method="post">
                        <input name="_csrf" type="hidden" value="80417983-fe8b-45c7-963e-31f6915a1569">
                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                                <label class="h4 mb-2 text-white" for="variety">
                                    Variety
                                </label>
                            </div>
                            <select id="variety" name="variety" class="custom-select">
                                <option disabled selected value>Select Variety</option>
                                <option th:each="variety : ${varieties}"
                                        th:value="${variety}"
                                        th:text="${variety.varietyName}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="label-holder textCol d-flex justify-content-center">
                                <label for="traysCount" class="h4 mb-2 text-white">
                                    Trays
                                    <span class="asteriskField">*</span>
                                </label>
                            </div>
                            <input id="traysCount" name="quantity" placeholder="Trays Count" type="number"
                                   class="form-control" min="1" required="required">
                        </div>
                        <div class="form-group align-content-center">
                            <div class="label-holder textCol d-flex justify-content-center">
                                <label class="h4 mb-2 text-white">
                                    Bunches per tray
                                    <span class="asteriskField">*</span>
                                </label>
                            </div>
                            <div class="radio custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_0" type="radio"
                                       class=" custom-control-input" value="10" required="required">
                                <label for="bunchesPerTray_0" class="custom-control-label text-white">10</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_1" type="radio"
                                       class="custom-control-input" value="15" required="required">
                                <label for="bunchesPerTray_1" class="custom-control-label text-white">15</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_2" type="radio"
                                       class="custom-control-input" value="16" required="required">
                                <label for="bunchesPerTray_2" class="custom-control-label text-white">16</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_3" type="radio"
                                       class="custom-control-input" value="17" required="required">
                                <label for="bunchesPerTray_3" class="custom-control-label text-white">17</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_4" type="radio"
                                       class="custom-control-input" value="18" required="required">
                                <label for="bunchesPerTray_4" class="custom-control-label text-white">18</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_5" type="radio"
                                       class="custom-control-input" value="20" required="required">
                                <label for="bunchesPerTray_5" class="custom-control-label text-white">20</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input name="bunchesPerTray" id="bunchesPerTray_6" type="radio"
                                       class="custom-control-input" value="25" required="required">
                                <label for="bunchesPerTray_6" class="custom-control-label text-white">25</label>
                            </div>
                        </div>
                        <div class="button-holder d-flex justify-content-center">
                            <div>
                                <button name="submit" type="submit" class="btn btn-primary">Make Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>