<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <div class="container">
        <div style="margin-top: 5rem !important;padding-top: 5rem !important;" class="pt-5 mt-5">
            <div class="container-1">
                <h2 class="text-center text-light">Create Warehouse</h2>
                <form class="mx-auto w-15" th:action="@{/warehouses/create-warehouse}" th:method="post">
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="name">
                                Name
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="name" name="name"
                               placeholder="Enter Warehouse Name" type="text" required
                               data-toggle="popover"
                               data-content="From 4 to 20 symbols"/>
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white"
                                   for="capacity">
                                Max Capacity
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="capacity" name="maxCapacity"
                               placeholder="Enter Max Capacity" type="text" required
                               data-toggle="popover" data-content="Min 2500 Trays"/>
                    </div>
                    <div class="button-holder d-flex justify-content-center">
                        <button class="btn btn-primary" name="submit" type="submit">
                            Create Warehouse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>

</html>