<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <div class="container">
        <div class="pt-5 mt-5">
            <div class="container-1">
                <h2 class="text-center text-light">Delete Warehouse</h2>
                <form class="mx-auto w-15" th:method="post" th:object="${warehouse}"
                      th:action="@{/warehouses/delete/{id}(id=*{id})}">
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="name">
                                Name
                            </label>
                        </div>
                        <input class="form-control" id="name" name="name" th:value="*{name}"
                               type="text" readonly/>
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white"
                                   for="currentCapacity">
                                Current Capacity
                            </label>
                        </div>
                        <input class="form-control" id="currentCapacity" name="currentCapacity"
                               th:value="*{currCapacity}" type="text" readonly/>
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white"
                                   for="maxCapacity">
                                Maximum Capacity
                            </label>
                        </div>
                        <input class="form-control" id="maxCapacity" name="maxCapacity" th:value="*{maxCapacity}"
                               type="text" readonly/>
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white"
                                   for="temperature">
                                Temperature
                            </label>
                        </div>
                        <input class="form-control" id="temperature" name="maxCapacity"
                               th:placeholder="*{#numbers.formatDecimal(temperature,1,2)}"
                               type="text" readonly/>
                    </div>
                    <div class="button-holder d-flex justify-content-center">
                        <th:block th:if="${warehouse.currCapacity} == 0">
                            <button class="btn btn-danger" name="submit" type="submit">
                                Delete Warehouse
                            </button>
                        </th:block>
                    </div>
                </form>
                <th:block th:unless="${warehouse.currCapacity} == 0">
                    <h3 class="text-center text-danger font-weight-bold">Only empty warehouse can be deleted</h3>
                    <div class="button-holder d-flex justify-content-center">
                        <form class="mx-auto w-15" th:action="@{/warehouses/empty-warehouse/{id}(id=*{id})}"
                              th:method="post">
                            <button style="margin-left: 37px" class="btn btn-primary text-light">Empty Warehouse</button>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>