<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <div class="container">
        <div class="pt-5 mt-4">
            <div class="container-1">
                <h2 class="text-center text-white">Edit Profile</h2>
                <form class="w-25 mx-auto " th:action="@{/users/edit}"
                      th:method="post" enctype="multipart/form-data">
                    <input name="_csrf" type="hidden" value="80417983-fe8b-45c7-963e-31f6915a1560">
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white"
                                   for="username">
                                Username
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="username" name="username"
                               readonly="readonly" th:value="${user.username}" type="text">
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="oldPassword">
                                Old Password
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="oldPassword" name="oldPassword"
                               placeholder="Password..." type="password"
                               required="required"
                               data-toggle="popover" data-content="Enter yours password">
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="password">
                                New Password
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="password" name="password"
                               placeholder="New Password..." type="password"
                               required="required"
                               data-toggle="popover" data-content="From 6 to 15 symbols">
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="confirmPassword">
                                Confirm New Password
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm New Password..." type="password"
                               required="required"
                               data-toggle="popover" data-content="Confirm Password">
                    </div>
                    <div class="form-group">
                        <div class="label-holder textCol d-flex justify-content-center">
                            <label class="h4 mb-2 text-white" for="email">
                                Email
                                <span class="asteriskField">*</span>
                            </label>
                        </div>
                        <input class="form-control" id="email" name="email" placeholder="Email..."
                               th:value="${user.email}" type="email"
                               required="required"
                               data-toggle="popover" data-content="Enter yours new e-mail">
                    </div>
                    <div class="button-holder d-flex justify-content-center">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>