<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main class="mt-3">
    <div class="jumbotron bg-transparent container-1">
            <div class="text-center">
                <img th:height="400" th:width="400"
                     th:src="${user.profilePictureUrl}"
                     alt="profileImg">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center text-white">
                    <h1 th:text="${user.username}"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center text-white">
                    <h4 th:text="${user.email}"></h4>
                </div>
            </div>
        <div class="button-holder d-flex justify-content-center">
            <a th:href="@{/users/edit}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</main>
<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>
</body>
</html>