<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error-css.css}">
</head>
<body class="index">
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="box">
        <div class="box__ghost">
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>
            <div class="symbol"></div>

            <div class="box__ghost-container">
                <div class="box__ghost-eyes">
                    <div class="box__eye-left"></div>
                    <div class="box__eye-right"></div>
                </div>
                <div class="box__ghost-bottom">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="box__ghost-shadow"></div>
        </div>

        <div class="box__description">
            <div class="box__description-container">
                <div class="box__description-title">Whoops!</div>
                <div class="box__description-title">
                    <th:block>
                        Error: <span th:text="${statusCode}"></span>
                    </th:block>
                </div>
                <div class="box__description-text text-white">
                    <th:block th:text="${message}"/>
                </div>
            </div>

            <a th:href="@{/home}" class="box__button">Go home</a>

        </div>

    </div>
</main>
<footer th:include="~{fragments/footer}"></footer>
</body>
<script type="text/javascript" th:inline="javascript">
    var pageX = $(document).width();
    var pageY = $(document).height();
    var mouseY = 0;
    var mouseX = 0;

    $(document).mousemove(function (event) {
        //verticalAxis
        mouseY = event.pageY;
        yAxis = (pageY / 2 - mouseY) / pageY * 300;
        //horizontalAxis
        mouseX = event.pageX / -pageX;
        xAxis = -mouseX * 100 - 100;

        $('.box__ghost-eyes').css({'transform': 'translate(' + xAxis + '%,-' + yAxis + '%)'});

        //console.log('X: ' + xAxis);

    });
</script>
</html>