<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body class="index">
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main>
    <div class="banner">
        <video autoplay muted loop class="tagline-video">
            <source src="https://res.cloudinary.com/nikolaybakalov/video/upload/v1575186085/video-flowers_gymjqx.mp4"
                    type="video/mp4">
        </video>
        <div class="overlay"></div>
        <div class="banner-innner">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="banner-left">
                            <h1> Welcome to our flowers company </h1>
                            <h3 style="margin-bottom: 20px" class="text-white"> Join us to get the most immeasurable quality of flowers</h3>
                            <a class="mx-3" th:href="@{/users/login}"> Login </a>
                            <a class="mx-3" th:href="@{/users/register}"> Register </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<footer th:include="~{fragments/footer}"></footer>
</body>
</html>