<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>
<main style="margin-right: 105px" class="mt-3">
    <div class="container">
        <div style="width: 1200px" class="pt-5 mt-5">
            <th:block th:if="${#lists.size(orders) != 0}">
                <h1 class="text-center text-light">
                    <span th:text="${#authentication.getName()}"></span>`s Orders</h1>
                <hr class="style13">
                <table style="text-shadow: none" class="table table-hover bg-light">
                    <thead>
                    <tr class="row mx-auto">
                        <th class="col-sm-1 text-center text-dark font-weight-bold">#</th>
                        <th class="col-md-1 text-center text-dark font-weight-bold">Customer</th>
                        <th class="col-md-1 text-center text-dark font-weight-bold">Variety</th>
                        <th class="col-md-1 text-center text-dark font-weight-bold">Quantity</th>
                        <th class="col-md-1 text-center text-dark font-weight-bold">Bunches Per Tray</th>
                        <th class="col-md-2 text-center text-dark font-weight-bold">Order Date</th>
                        <th class="col-md-2 text-center text-dark font-weight-bold">Finished On</th>
                        <th class="col-md-1 text-center text-dark font-weight-bold">Status</th>
                        <th class="col-md-2 text-center text-dark font-weight-bold">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="order,iter : ${orders}" th:object="${order}">
                        <tr class="row mx-auto">
                            <th class="col-sm-1 text-center text-dark font-weight-bold"
                                th:text="${iter.index + 1}"></th>
                            <td class="col-md-1 text-center text-dark" th:text="*{customer}"></td>
                            <td class="col-md-1 text-center text-dark"
                                th:text="*{variety != null}
                                        ? *{variety}
                                        : ''"></td>
                            <td class="col-md-1 text-center text-dark" th:text="*{quantity}"></td>
                            <td class="col-md-1 text-center text-dark" th:text="*{bunchesPerTray}">${}</td>
                            <td class="col-md-2 text-center text-dark"
                                th:text="*{#temporals.format(orderDate, 'dd-MM-yyyy')}"></td>
                            <td class="col-md-2 text-center text-dark"
                                th:text="*{finishedOn != null}
                                        ? *{#temporals.format(finishedOn, 'dd-MM-yyyy')}
                                        : ''"></td>
                            <td class="col-md-1 text-center text-dark" th:text="*{status}"></td>
                            <td class="col-md-2 text-center text-dark">
                                <div class="row justify-content-center">
                                    <th:block th:if="*{status == 'In progress'}">
                                        <a th:href="@{/orders/edit-order/{id}(id=*{id})}"
                                           class="btn btn-warning text-light mx-1">Edit</a>
                                        <a th:href="@{/orders/cancel-order/{id}(id=*{id})}"
                                           class="btn btn-danger text-light mx-1">Cancel</a>
                                    </th:block>
                                </div>
                            </td>
                        <tr>
                    </th:block>
                    </tbody>
                </table>
            </th:block>
            <th:block th:unless="${#lists.size(orders) != 0}">
                <h1 class="text-center text-light">You didn`t made order</h1>
                <div class="button-holder d-flex justify-content-center">
                    <a th:href="@{/orders/make-order}" class="btn btn-primary">Make one</a>
                </div>
            </th:block>
            <hr class="style13 w-100">
        </div>
    </div>
</main>
<footer th:include="~{fragments/footer}"></footer>
</body>
</html>